<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<a class="gumroad-button" id="gumroadFree" href="https://gumroad.com/l/GQMaL">Buy my product</a>

<style>
    .bg-green {
        background-color: #60a917 !important
    }

    .bg-teal {
        background-color: #00aba9 !important
    }

    .bg-steel {
        background-color: #647687 !important
    }

    .bg-yellow {
        background-color: #e3c800 !important
    }

    .bg-hover-gray:hover {
        background-color: #555 !important
    }

    .fg-white {
        color: #fff !important;
    }

    .payment-button {
        width: 200px;
        display: inline-block;
    }

    .cancel {
        margin-top: 10px
    }
</style>




<div>

    <h4>current</h4>
    <label class="label  label-info">{{:plan}} / {{:creditsAvailable}}</label>

    <h4>upgrade</h4>

    <a class="gumroad-button payment-button bg-teal text-center bg-hover-gray" id="gumroadBronze">
        <h5 class="fg-white">BRONZE</h5>
        <hr>
        <span class="fg-white">monthly price</span>

        <h6 class="fg-white">9.95 $</h6>
        <hr>
        <span class="fg-white">monthly credits</span>

        <h6 class="fg-white">10 000</h6>
    </a>

    <a class="gumroad-button payment-button bg-steel text-center bg-hover-gray">
        <h5 class="fg-white">SILVER</h5>
        <hr>
        <span class="fg-white">monthly price</span>

        <h6 class="fg-white">99.95 $</h6>
        <hr>
        <span class="fg-white">monthly credits</span>

        <h6 class="fg-white">100 000</h6>
    </a>

    <a class="gumroad-button payment-button bg-yellow text-center bg-hover-gray" href="https://gumroad.com/l/GQMaL">
        <h5 class="fg-white">GOLD</h5>
        <hr>
        <span class="fg-white">monthly price</span>

        <h6 class="fg-white">299.95 $</h6>
        <hr>
        <span class="fg-white">monthly report credits</span>

        <h6 class="fg-white">300 000</h6>
    </a>

</div>

<div class="cancel">
    <p>
        You can cancel subscription <a href="https://gumroad.com/library" target="_blank">here</a>.
    </p>
</div>
